.main__checkbox {
    background: url(../../../icons/checkbox-empty.svg) no-repeat center;
    width: 22px;
    height: 22px;
    margin-right: 11px;
    cursor: url(../../../icons/pointer.svg), pointer;
}