.form__input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 64px;
    flex: 1;
    margin-right: 24px;
    position: relative;
}
@media screen and (max-width:715px) {
    .form__input-container {
        margin: 0;
        max-width: 100%;
    }
}