.summary__pencil {
    width: 20px;
    height: 20px;
    cursor: url(../../../icons/pointer.svg), pointer;
    background: url(../../../icons/pencil-icon.svg) no-repeat center;
}
.summary__pencil:hover {
    opacity: .75;
}